
#title{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#titlelink{
    color: rgb(255, 199, 33);
}
#author{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(172, 194, 48);
    text-align: center; 
}
.paragraph{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(136, 136, 136);
    text-align: center;

}
.next{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
}